 @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&family=Poppins:wght@400;800&display=swap'); 
*{
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

.titulo{
    margin: 150px 0px 0px 170px;
    line-height: 40px;
}

.titulo h1{
    font-size: 30px;
    font-weight: 500;
}

.titulo p{
    color: #818080;
}

.hero form{
    display: flex;
    flex-direction: column; 
    width: 20%;
    margin: 30px 0px 10px 170px;
}

.contrasena{
    margin: 20px 0px 0px 0px;
}

.check{
    display: flex;
    margin: 20px 0px;
    font-size: 13px;
    font-weight: 600;
    
}

.checkp{
    margin: 0px 0px 0px 39px;
    cursor: pointer;
    
}

input[type="email"], input[type="password"]{
    padding: 12px 20px;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
}

form button{
    padding: 12px;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 7px;
}

.google{
    padding: 12px;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    margin: 10px 0px 0px 170px;
    width: 20%;
    background-color: #fff;
    color: black;
    font-weight: 600;
}

.cuenta{
    margin: 20px 0px 0px 174px;
    color: #8a8989;
}

.cuenta a{
    font-weight: 500;
} 

